.notification {
  .notice {
    background-color: darkcyan;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
  }
}